[credential]
helper = /opt/homebrew/bin/gcm-core/git-credential-manager-core

[user]
name = Kentaro Sugimoto
email = tarotene.dev@gmail.com
signingkey = B0B9F77CB67A7E53

[gpg]
# NOTE: Should be the result of `which gpg`
program = /opt/homebrew/bin/gpg

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
gpgsign = true
